@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap");

:root {
  --gray-light: rgb(220, 220, 220);
  --dark-blue: #004052;
  --light-blue: #175e70;
  --blue-gray: #324951;
  font-family: "Open Sans", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 16px 32px;
  background: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 32px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

input {
  margin: 16px 0;
  width: 300px;
  height: auto;
  border-radius: 4px;
}

input:focus {
  box-shadow: 0px 0px 5px 1px var(--dark-blue);
  border-color: var(--light-blue);
  outline: 0;
}

.container-main {
  display: flex;
}

.container-left {
  background-image: url(assets/images/mountain-medium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-left-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

.sub-inner-left-container {
  margin-bottom: 30vh;
  height: 128px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 256px;
}

#logo {
  height: 96px;
  border: solid 2px white;
  border-radius: 50%;
  padding: 8px;
  transform: rotate(-20deg);
}

.logo-text {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: white;
  margin-left: 24px;
}

.img-credit {
  flex-shrink: 0;
  color: white;
  font-size: 0.5rem;
}

a > p {
  font-size: 64px;
}
.container-right {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-banner,
.bottom-banner,
.form-container {
  padding-left: 72px;
}

.top-banner,
.bottom-banner {
  height: 33vh;
  flex-grow: 1;
  background-color: var(--gray-light);
}

.top-banner {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 32px;
}

.form-container {
  height: auto;
  flex-grow: 1;
  background-color: white;
  box-shadow: 10px 10px 8px #888888;
  padding-top: 32px;
  padding-bottom: 32px;
}

.bottom-banner {
  padding-top: 32px;
}

.signup-form {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: auto;
}

label {
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  margin-bottom: -16px;
}

input:invalid {
  border-color: red;
}
